{
  "$id": "1",
  "LevelConfigs": {},
  "GlobalObjectBankConfig": {
    "CustomObjectConfigs": {}
  },
  "GlobalBehaviorBank": {
    "Enabled": false,
    "IsVanilla": true,
    "BehaviorConfigs": []
  },
  "GlobalObjectBank": {
    "CustomObjects": []
  },
  "GlobalCustomAsmBank": {
    "Areas": [],
    "MaxLength": -1,
    "Length": -1,
    "RomStartAddress": -1,
    "RamStartAddress": -1
  },
  "MusicConfig": {
    "SqeuenceNames": [
      "No Music",
      "High Score",
      "Title Screen",
      "Bob-omb's Battlefield",
      "Inside Castle",
      "Dire, Dire Docks",
      "Lethal Lava Land",
      "Bowser Battle",
      "Snow",
      "Slide",
      "Haunted House",
      "Piranha Plant Lullaby",
      "Hazy Maze Cave",
      "Star Select",
      "Wing Cap",
      "Metal Cap",
      "Bowser Message",
      "Bowser Course",
      "Star Catch",
      "Ghost Merry-Go-Round",
      "Start and End Race with Koopa the Quick",
      "Star Appears",
      "Boss Fight",
      "Take a Key",
      "Endless Stairs",
      "Final Boss",
      "Staff Credits",
      "Puzzle Solved",
      "Toad Message",
      "Peach Message",
      "Introduction Scene",
      "Last Star Fanfare",
      "Ending Scene",
      "File Select",
      "Lakitu Appears"
    ]
  },
  "TextProfileInfo": null,
  "PatchingConfig": {
    "$id": "2",
    "TweakBackups": {
      "CompressedFiles": {
        "$id": "3"
      }
    },
    "Patched2DCamera": true
  },
  "ScrollTexConfig": {
    "$id": "4",
    "UseCustomBehavior": false,
    "CustomBehaviorAddress": -1
  },
  "ObjectBankInfoData": {},
  "NPCConfig": {
    "Enabled3DCoins": false
  },
  "CollisionBaseConfig": {
    "CollisionTypesWithParams": {
      "$id": "5",
      "$values": [
        14,
        44,
        36,
        37,
        39,
        45
      ]
    }
  },
  "CustomConfigs": {}
}